//color....
$color-primary:rgba(204, 31, 45, 0.555);
$color-primary-light:rgba(204, 57, 69, 0.281);
$color-primary-dark:rgba(204, 22, 37, 0.589);
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-light-grey:#F4F3E1;
$color-secondary-dark:#571845;
$color-secondary-light:#900C3E;
$color-tetiary-dark:#C70039;
$color-tetiary-light:#FF5733;
$color-sucess:#17a335;
//grid;
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$gutter-vertical-small:6rem;
//Default fontsize..
$default-font-size:1.5rem